.burger__btn{
    @include reset-button;

    position: relative;
    width: 36px;
    height: 24px;
    z-index: 11;


    &-first-line{
        position: absolute;
        width: 27px;
        height: 3px;
        background-color: var(--color-light-text);
        right: 5px;
        top: 0;
        transition: .5s all ease;

        .header.open &{
            transform: translateY(0);
            rotate: 45deg;
            top: 50%;
        }
    }
    
    &-second-line{
        position: absolute;
        width: 21px;
        height: 3px;
        background-color: var(--color-light-text);
        right: 5px;
        top: 11px;
        transition: .5s all ease;
        
        .header.open &{
            opacity: 0;
        }
    }

    &-third-line{
        position: absolute;
        width: 13px;
        height: 3px;
        background-color: var(--color-light-text);
        right: 5px;
        bottom: 0;
        transition: .5s all ease;

        .header.open &{
            width: 27px;
            top: 50%;
            transform: translateY(0);
            rotate: -45deg;
        }
    }
}
