.input{
    height: var(--input-height);
    border-radius: var(--input-border-radius);
    border: var(--input-border);
    background-color: #F4F4F4;
    outline: none;
    padding-inline: 20px;
    max-width: 535px;
}