@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Graphik";
  src: url(../fonts/Graphik-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  src: url(../fonts/Graphik-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Variable.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Variable.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-primary: #2091f9;
  --color-secondary: #2dc071;
  --color-secondary: #f15b07;
  --color-text: #252b42;
  --color-second-text: #374754;
  --color-light-text: #fff;
  --color-dark-background: #252b42;
  --color-light-background: #fff;
  --color-background-gradient: #222b32;
  --font-family: "Graphik", sans-serif;
  --second-family: "Roboto", sans-serif;
  --border-radius: 35px;
  --shadow-video: 0 8px 63px 0 rgba(0, 0, 0, 0.15);
  --shadow-form: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
  --input-height: 54px;
  --input-border-radius: 39px;
  --input-border: 1px solid #e8e8e8;
  --button-height: 56px;
  --link-button-height: 60px;
  --container-width: 1440px;
  --container-padding-x: 20px;
  --button-transition-duration: .3s;
  --card-transition-duraration: .5s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 520px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 521px) {
  .visible-mobile {
    display: none !important;
  }
}

.hidden-scrollbar {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}
.hidden-scrollbar::-webkit-scrollbar {
  width: 0 !important;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-second-text);
  letter-spacing: 0.01em;
  height: 10000px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h3 {
  font-weight: 700;
}

h2,
h4,
h5 {
  font-weight: 400;
}

h1 {
  font-size: 74px;
  line-height: 1.13;
}

h2 {
  font-size: 48px;
  line-height: 1.14;
}

h3 {
  font-size: 20px;
  line-height: 1.4;
}

h4 {
  font-size: 28px;
  line-height: 1.42;
}

h5 {
  font-size: 16px;
  line-height: 1.43;
}

p {
  font-size: 18px;
  line-height: 1.38;
}

a {
  font-size: 15px;
  line-height: 1.86;
  color: var(--color-light-text);
}

button {
  font-size: 20px;
  height: var(--button-height);
}

.h1 {
  font-size: 74px;
  line-height: 1.13;
}

.h2 {
  font-size: 48px;
  line-height: 1.14;
}

.h3 {
  font-size: 20px;
  line-height: 1.4;
}

.h4 {
  font-size: 28px;
  line-height: 1.42;
}

.h5 {
  font-size: 16px;
  line-height: 1.43;
}

.path__bg {
  min-height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(0 85%, 0 0, 100% 0, 100% 85%, 50% 100%);
  padding-bottom: 250px;
}

.header.open .header__nav {
  top: 10px;
}
@media (max-width: 520px) {
  .header__inner {
    padding: 16px 17px;
  }
}
.header__inner {
  padding: 39px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 520px) {
  .header__nav {
    background-color: var(--color-primary);
    position: absolute;
    top: -100%;
    right: 10px;
    z-index: 10;
    width: 150px;
    padding-top: 100px;
    padding-bottom: 50px;
    border-radius: 100px;
    transition: 0.5s all ease;
    border-left: #e737b7 4px solid;
    border-bottom: #e737b7 4px solid;
  }
}
@media (max-width: 520px) {
  .header__nav-list {
    flex-direction: column;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 21px;
       column-gap: 21px;
}
@media (max-width: 520px) {
  .header__nav-list a {
    display: block;
  }
}
.header__nav-list a {
  padding: 10px;
}
.header__soc1als-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-light-text);
    outline: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-light-text);
    outline: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
}
.button {
  color: var(--color-light-text);
  background-color: var(--color-primary);
  width: 236px;
  border-radius: var(--border-radius);
  transition: 0.3s all ease;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 520px) {
  .hero__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 1.14;
  }
}
.hero__title {
  max-width: 692px;
  padding: 10px;
  text-align: center;
  color: var(--color-light-text);
  margin-bottom: 7px;
}
.hero__subtitle {
  max-width: 766px;
  text-align: center;
  color: var(--color-light-text);
  margin-bottom: 60px;
}

.burger__btn {
  padding: 0;
  background-color: transparent;
  border: none;
  position: relative;
  width: 36px;
  height: 24px;
  z-index: 11;
}
.burger__btn-first-line {
  position: absolute;
  width: 27px;
  height: 3px;
  background-color: var(--color-light-text);
  right: 5px;
  top: 0;
  transition: 0.5s all ease;
}
.header.open .burger__btn-first-line {
  transform: translateY(0);
  rotate: 45deg;
  top: 50%;
}
.burger__btn-second-line {
  position: absolute;
  width: 21px;
  height: 3px;
  background-color: var(--color-light-text);
  right: 5px;
  top: 11px;
  transition: 0.5s all ease;
}
.header.open .burger__btn-second-line {
  opacity: 0;
}
.burger__btn-third-line {
  position: absolute;
  width: 13px;
  height: 3px;
  background-color: var(--color-light-text);
  right: 5px;
  bottom: 0;
  transition: 0.5s all ease;
}
.header.open .burger__btn-third-line {
  width: 27px;
  top: 50%;
  transform: translateY(0);
  rotate: -45deg;
}

@media (max-width: 520px) {
  .features {
    margin-bottom: 160px;
  }
}
.features {
  margin-bottom: 226px;
}
.features__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 520px) {
  .features__title {
    order: 1;
  }
}
.features__title {
  margin-bottom: 17px;
}
@media (max-width: 520px) {
  .features__subtitle {
    max-width: 265px !important;
    order: 2;
    margin-bottom: 50px !important;
  }
  .features__subtitle span {
    display: none;
  }
}
.features__subtitle {
  max-width: 532px;
  text-align: center;
  margin-bottom: 90px;
}
@media (max-width: 520px) {
  .features__cards {
    flex-direction: column;
    row-gap: 75px;
    order: 4;
  }
}
.features__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 869px;
  -moz-column-gap: 52px;
       column-gap: 52px;
  text-align: center;
}
@media (max-width: 520px) {
  .features__card {
    max-width: 247px;
  }
}
.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
@media (max-width: 520px) {
  .features__video {
    order: 3;
    margin-bottom: 50px;
  }
}
.features__video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.features__video-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 180px;
  height: 180px;
}
@media (max-width: 520px) {
  .features__video-btn {
    width: 60px;
    height: 60px;
  }
}
.features__video-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  border-radius: 50%;
}
@media (max-width: 520px) {
  .features__video-btn--img {
    width: 12px;
    aspect-ratio: 1;
  }
}

@media (hover: hover) {
  .link-btn:hover {
    background-color: var(--color-light-text);
    outline: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
}
@media (hover: none) {
  .link-btn:active {
    background-color: var(--color-light-text);
    outline: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
}
.link-btn {
  padding: 16px 60px;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  transition: 0.3s all ease;
}
.link-btn h3 {
  margin: 0;
}

@media (max-width: 520px) {
  .organize {
    margin-bottom: 160px;
  }
}
.organize {
  margin-bottom: 270px;
}
@media (max-width: 520px) {
  .organize__inner {
    flex-direction: column;
  }
}
.organize__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1244px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media (max-width: 520px) {
  .organize__info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
  }
}
.organize__info {
  max-width: 532px;
}
.organize__info-title {
  max-width: 335px;
  margin-bottom: 7px;
}
.organize__info-subtitle {
  margin-bottom: 60px;
}

.subscribe {
  margin-bottom: 123px;
}
@media (max-width: 520px) {
  .subscribe__inner {
    flex-direction: column;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto !important;
  }
}
.subscribe__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
}
@media (max-width: 520px) {
  .subscribe__pic {
    display: flex;
    order: 2;
    margin-bottom: 80px;
    max-width: 379px !important;
    grid-row: span 2;
  }
}
.subscribe__pic {
  grid-row: span 2;
  max-width: 677px;
}
@media (max-width: 520px) {
  .subscribe__info {
    margin: 0 !important;
  }
}
.subscribe__info {
  align-self: end;
  justify-self: start;
  margin-left: 63px;
  margin-right: 216px;
}
@media (max-width: 520px) {
  .subscribe__info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
  }
}
.subscribe__info-uppertitle {
  margin-bottom: 7px;
}
@media (max-width: 520px) {
  .subscribe__info-title {
    margin-bottom: 7px !important;
  }
}
.subscribe__info-title {
  max-width: 324px;
  margin-bottom: 25px;
}
.subscribe__info-subtitle {
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 520px) {
  .subscribe__form {
    order: 3;
    max-width: 100vw;
    margin: 0 !important;
  }
}
.subscribe__form {
  margin-left: 63px;
}
.subscribe__form-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}
@media (max-width: 520px) {
  .subscribe__form-actions {
    flex-direction: column;
    gap: 0;
  }
}
.subscribe__form-actions {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media (max-width: 520px) {
  .subscribe__form-input {
    width: 100%;
    margin-bottom: 12px;
  }
}
@media (max-width: 520px) {
  .subscribe__form-btn {
    width: 100% !important;
  }
}
.subscribe__form-btn {
  width: 172px;
}

.input {
  height: var(--input-height);
  border-radius: var(--input-border-radius);
  border: var(--input-border);
  background-color: #F4F4F4;
  outline: none;
  padding-inline: 20px;
  max-width: 535px;
}

.partners__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.partners__title {
  margin-bottom: 7px;
}
@media (max-width: 520px) {
  .partners__subtitle {
    text-align: center;
  }
}
.partners__subtitle {
  margin-bottom: 80px;
}
@media (max-width: 520px) {
  .partners__list {
    margin-bottom: 98px;
  }
}
.partners__list {
  margin-bottom: 80px;
}
@media (max-width: 520px) {
  .partners__list-top, .partners__list-bottom {
    flex-direction: column;
    row-gap: 30px;
  }
}
.partners__list-top, .partners__list-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1075px;
}
.partners__card {
  width: 269px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  row-gap: 15px;
  padding-inline: 40px;
  padding-block: 30px;
  border: 1px solid #D8D8D8;
  height: 163px;
}

.pricing {
  padding-block: 100px;
  background-color: var(--color-dark-background);
  margin-top: 100px;
}
.pricing__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.pricing__title {
  color: var(--color-light-text);
  margin-bottom: 7px;
}
.pricing__subtitle {
  color: var(--color-light-text);
  margin-bottom: 80px;
}
@media (max-width: 520px) {
  .pricing__cards {
    flex-direction: column;
    row-gap: 50px;
  }
}
.pricing__cards {
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
@media (hover: hover) {
  .pricing__card:hover {
    padding-block: 83px;
    background-color: var(--color-primary);
    color: var(--color-light-text);
  }
}
@media (hover: none) {
  .pricing__card:active {
    padding-block: 83px;
    background-color: var(--color-primary);
    color: var(--color-light-text);
  }
}
.pricing__card:hover .pricing__card-features--link {
  color: var(--color-light-text);
}
.pricing__card:hover .pricing__card-btn {
  background-color: var(--color-light-text);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}
@media (hover: none) {
  .pricing__card:nth-child(2) {
    background-color: var(--color-primary);
    color: var(--color-light-text);
  }
}
.pricing__card {
  background-color: var(--color-light-text);
  padding: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.3s all ease;
}
.pricing__card-title {
  text-transform: uppercase;
}
.pricing__card-subtitle {
  max-width: 148px;
  text-align: center;
}
.pricing__card-features--list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.pricing__card-features--link {
  color: var(--color-text);
  padding: 10px;
}
.pricing__card-btn {
  width: 255px;
}
.pricing__card-price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content max-content;
  max-width: 200px;
}
.pricing__card-num {
  grid-row: span 2;
  align-self: center;
  margin-left: auto;
}
.pricing__card-value {
  margin-top: auto;
  margin-left: 5px;
}
.pricing__card-period {
  margin-left: 5px;
}
@media (hover: none) {
  .pricing__card-mobile-active {
    background-color: var(--color-primary);
    color: var(--color-light-text);
  }
  .pricing__card-mobile-active h3, .pricing__card-mobile-active a {
    color: var(--color-light-text);
  }
  .pricing__card-mobile-active button {
    background-color: var(--color-light-text);
    outline: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
}/*# sourceMappingURL=style.css.map */